<div class="header-container">
    <div *ngIf="!isDetailed">Currency Exchanger</div>
    <div *ngIf="isDetailed">{{fromCurrency}} - {{currentCurrency}}</div>
    <button *ngIf="isDetailed" (click)="openHome()" class="details-button">Back to Home</button>
</div>

<app-converter-panel [currencies]="currencies" (converted)="convertValues($event)"></app-converter-panel>
<app-popular-currencies *ngIf="!isDetailed" [popular-currencies]="popularCurrencies"></app-popular-currencies>
<app-histogram-chart [fromCurrency]="fromCurrency" [toCurrency]="toCurrency" *ngIf="isDetailed"></app-histogram-chart> 